@use './generals' as *;

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #AAAAAA;
}
.writing-mode-vertical {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}
.font-comorant {
    font-family: 'Cormorant Upright', serif;
}